<html>
    <head>
        {% if title %}
            <title>{{title}} - Bot admin panel</title>
        {% else %}
            <title>Bot admin panel</title>
        {% endif %}
    </head>
    <body>
        <div>
            Bot admin panel:
            <a href="{{ url_for('logs') }}">Logs</a>
            <a href="{{ url_for('message') }}">Message</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <hr>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div>{{ message }}</div>
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
<html>